.chart-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 15px;
}

.filter {
  padding-right: 30px;
  overflow: hidden;
  margin-top: -10px;
}

.top-line {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, #1e5799 0%, #207cca 0%, #2989d8 50%, #7db9e8 100%);
}

.slim-header {
  height: 90px;
}

.slim-header-right .nav {
  padding-top: 20px;
}

.slim-header-right .nav ul {
  list-style: none;
  border-left: solid 1px #dedede;
  margin-right: 40px;
  padding: 0;
}

.slim-header-right .nav ul li {
  padding: 0;
  margin: 0 0 0 -1px;
}

.slim-header-right .nav ul li a {
  border-left: solid 3px transparent;
  padding: 5px 0 5px 15px;
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;
  color: #363636;
  font-weight: 500;
  cursor: pointer;
}

.slim-header-right .nav ul li a:hover,
.slim-header-right .nav ul li a.active {
  border-left: solid 3px #1984E7;
  color: #136aba;
}

.slim-header-right .auth {
  padding-top: 20px;
  margin-right: 20px;
  padding-right: 20px;
}

.slim-header-right .demo-btn-list {
  margin-top: 10px;
}

.tx-success.down {
  color: #FF4E50;
}

.tx-success i {
  font-size: 25px;
  font-weight: bold;
}

body {
  background: #f0f2f7 !important;
}

#filterFrm .card {
  padding: 20px !important;
}
#filterFrm .card .el-form-item {
  margin-bottom: 0 !important;
}
#filterFrm .card .el-form-item .el-form-item__label {
  padding: 10px 0 0 0 !important;
  line-height: 14px !important;
}
#filterFrm .card .el-form-item .el-form-item__content {
  width: 100%;
}
#filterFrm .card .el-form-item .el-form-item__content .el-select {
  width: 100%;
}
#filterFrm .card .el-divider--horizontal {
  margin: 20px 0 10px !important;
}
#filterFrm .card .sbm-btn .el-button {
  width: 100%;
}

.text-success {
  color: #8BC34A;
}

.text-danger {
  color: #1984E7;
}

.info-row .info-section {
  padding: 10px 10px 10px 40px;
  margin-top: 20px;
  border-right: solid 1px #eeeeee;
  border-top: solid 1px #eeeeee;
  min-height: 244px;
  height: 100%;
  display: block;
}

.info-row .info-section:last-child {
  border-right: 0;
}

.info-row .info-section h4 {
  color: #1984E7;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}

.info-row .info-section table {
  float: left;
}

.info-row .info-section table.half {
  width: 50%;
  padding-right: 20px;
}

.info-row .info-section table td {
  border: 0 !important;
  padding: 0;
  padding-top: 2px !important;
  padding-bottom: 7px !important;
  line-height: 13px;
  border-bottom: dotted 1px #dedede;
  font-size: 12px;
}

.info-row .info-section table td:first-child {
  font-weight: 500;
  width: 200px;
}

.info-row .info-section table td:last-child {
  text-align: right;
  width: 100px;
}

.info-row .info-section table td i {
  font-weight: bold;
}

.info-row .info-section:last-child {
  padding-left: 10px;
}

.info-row .info-section:last-child table {
  padding-right: 20px;
}

.map-area {
  background: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

.map-area .section-title {
  padding: 15px 20px 15px;
}

.map-area .section-title h2 {
  font-size: 16px;
  color: #1984E7;
  margin: 0 0 10px 0;
  padding: 0;
}

.map-area .section-title .bairshil i {
  color: #1984E7;
  margin-right: 5px;
}

.map-area #map {
  background: #363636;
  height: 366px;
  width: 100%;
  z-index: 99;
}

.map-area .switcher {
  position: absolute;
  bottom: 20px;
  left: 15px;
  z-index: 100;
}

.map-area .switcher a {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  padding: 0;
  color: #1984E7;
  text-transform: uppercase;
  overflow: hidden;
  height: 30px;
  display: block;
  padding-right: 10px;
}

.map-area .switcher a:hover {
  background: white;
}

.map-area .switcher a i {
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: #1984E7;
  color: #FFFFFF;
  text-align: center;
  margin-right: 10px;
  font-size: 16px;
}

.map-area .switcher a span {
  display: table-cell;
  vertical-align: middle;
  height: 30px;
  padding-left: 10px;
}

.share-action a {
  display: block;
  background: #39569C;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 3px;
  overflow: hidden;
}

.inquire__number a {
  color: #ffffff !important;
}

.similar-list .thumb-wrapper {
  max-width: 100px;
  background: #dedede;
}

.similar-list .thumb-wrapper .thumb {
  height: 100px;
  width: 100px;
  border: solid 1px #dedede;
  background-position: center;
  background-size: auto 100%;
  border-radius: 3px;
}

.zar-detail {
  display: block;
  padding: 10px 30px;
  letter-spacing: normal;
}

.table-detail td {
  border-top: dotted 1px #ddd !important;
}

.table-detail td:first-child {
  font-weight: bold;
}

.list-thumb {
  height: 110px;
  background-position: center;
  background: #dedede;
}

.similar-body {
  padding-left: 20px;
}

.similar-body .similar-title {
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
}

.similar-body .similar-date {
  color: #363636;
  padding-top: 5px;
  font-size: 12px;
}

.similar-body .similar-price {
  color: #dd4b39;
  font-weight: bold;
  padding-top: 5px;
  font-size: 12px;
}

.hide {
  display: none !important;
}

.listings-grid__item {
  background-color: #fff;
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: background-color;
  transition-duration: 0.3s;
}

.listings-grid__item:hover {
  background-color: #fffdee;
}

.listings-grid__item.listings-grid__item--sold:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(/images/sold.png?acdbae7b492128744708aa2db394e114) bottom 15px right 30px no-repeat;
  background-size: 100px;
  z-index: 10;
}

.list-thumb {
  height: 110px;
  background-position: center;
  background: #dedede;
}

.listings-grid__body {
  padding: 18px 20px 13px;
}

.listings-grid__body > small {
  color: #9c9c9c;
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 16px;
}

.listings-grid__body > h5 {
  font-size: 13px;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.listings-grid__body > h5,
.listings-grid__body > small {
  overflow: hidden;
}

.listings-grid__main.pull-left {
  padding-right: 0;
}

.listings-grid__main > img {
  width: 100%;
  transition: opacity;
  transition-duration: 0.2s;
}

.listings-grid__price {
  position: absolute;
  font-weight: 500;
}

.listings-grid__attrs {
  margin: 0;
  list-style: none;
  padding: 13px 12px 13px 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.listings-grid__attrs > li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  color: #828282;
  margin-right: 13px;
}

.listings-grid__attrs > li > a {
  display: block;
}

.listings-grid__icon {
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-size: 18px;
  color: #444;
}

.listings-grid__icon--bed {
  background-image: url(/images/bed.png?51974dc22de7bcaf713c2b3e3ab452a5);
  width: 22px;
}

.listings-grid .listings-grid__main {
  position: relative;
}

.listings-grid .listings-grid__price {
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#80000000", GradientType=0);
  width: 100%;
  color: #fff;
  padding: 30px 20px 15px;
  font-size: 17px;
}

.listings-grid__favorite {
  position: absolute;
  z-index: 1;
  bottom: 6px;
  right: 10px;
}

@media (min-width: 992px) {
  .listings-list .listings-grid__body {
    padding-right: 105px;
  }

  .listings-list .listings-grid__price {
    top: 18px;
    right: 22px;
  }
}
@media (min-width: 768px) {
  .listings-list:not(.listings-list--alt) .listings-grid__main {
    width: 175px;
    border: 3px solid #Fff;
  }

  .listings-list.listings-list--alt .listings-grid__main {
    width: 155px;
  }
}
@media (max-width: 991px) {
  .listings-list .listings-grid__main {
    position: relative;
  }

  .listings-list .listings-grid__main .listings-grid__price {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#80000000", GradientType=0);
    width: 100%;
    color: #fff;
    padding: 30px 20px 15px;
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .listings-list {
    border-radius: 3px 3px 2px 2px;
  }

  .listings-list .listings-grid__main,
.listings-list .media-body {
    width: 100%;
  }
}
.listings-list .listings-grid__price {
  color: #2e353b;
  font-weight: 700;
}

.listings-list--alt .listings-grid__item {
  padding: 20px;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
}

.listings-list--alt .listings-grid__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.listings-list--alt .listings-grid__main > img {
  border-radius: 2px;
}

.listings-list--alt .listings-grid__main .listings-grid__price {
  border-radius: 0 0 3px 3px;
}

.listings-list--alt .listings-grid__attrs {
  padding: 0 0 0 20px;
  border: 0;
}

.detail-media {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.detail-media .light-gallery > a > img {
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.detail-media .light-gallery > a:not(:first-child) {
  display: none;
}

.detail-media__nav {
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}

.detail-media__nav > li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.detail-media__nav > li > a {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  background: rgba(0, 0, 0, 0.3);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  line-height: 41px;
  margin: 0 1px;
  transition: all;
  transition-duration: 250ms;
}

.detail-media__nav > li.active > a {
  color: #fff;
}

.detail-media__nav > li:not(.active) > a:hover {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.8);
}

#listing-map {
  width: 100%;
  margin-bottom: -25px;
  height: 374px;
}

.detail-info__header {
  border-radius: 2px 2px 0 0;
  padding: 26px 28px 23px;
  position: relative;
}

.detail-info__header strong {
  color: #2e353b;
  font-size: 20px;
  line-height: 100%;
  margin-right: 15px;
}

.detail-info__header small {
  font-size: 14px;
  position: relative;
  top: -2px;
  color: #9c9c9c;
}

.detail-info__header span {
  float: right;
  background-color: #585858;
  color: #fff;
  font-size: 11px;
  padding: 4px 10px;
  border-radius: 2px;
  margin-top: -2px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .detail-info__header {
    padding: 20px 25px 15px;
  }

  .detail-info__header small {
    display: block;
    margin-top: 10px;
  }

  .detail-info__header span {
    position: absolute;
    top: 20px;
    right: 25px;
  }
}
.detail-amenities__list,
.detail-info__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.detail-amenities__list > li,
.detail-info__list > li {
  display: inline-block;
  vertical-align: top;
}

.detail-amenities__list > li > a,
.detail-info__list > li > a {
  display: block;
}

.detail-info__list {
  padding-bottom: 10px;
}

.detail-info__list > li {
  width: 50%;
  float: left;
  padding: 15px 30px;
  border-top: 1px solid #f5f5f5;
}

.detail-info__list > li > span:first-child {
  display: inline-block;
  font-weight: 500;
  color: #2e353b;
  width: 110px;
}

@media (max-width: 991px) {
  .detail-info__list > li {
    padding: 10px 25px;
  }

  .detail-info__list > li > span:last-child {
    display: block;
    margin-top: 3px;
  }
}
.detail-amenities__list > li {
  padding: 8px 15px;
  color: #fff;
  border-radius: 2px;
  margin: 0 1px 4px 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

.page-report {
  padding: 20px 0 10px 20px;
  background: #F0F2F7;
}
.page-report .report-filter {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px;
  align-self: stretch;
}
.page-report .report-filter .el-select, .page-report .report-filter .el-input, .page-report .report-filter .el-button {
  width: 100%;
}
.page-report .report-filter h4.header {
  background: #FAFAFA;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 10px 20px;
}
.page-report .report-filter .divider {
  height: 1px;
  background: #f1f2f3;
  margin-bottom: 15px;
  margin-top: -5px;
  margin-left: -20px;
  margin-right: -20px;
}
.page-report .report-filter .el-form {
  padding: 10px 20px;
}
.page-report .report-filter .filter-info {
  border-top: dotted 1px #dedede;
  padding-top: 20px;
}
.page-report .report-filter .filter-info ul {
  list-style: none;
}
.page-report .report-filter .filter-info ul li {
  display: flex;
}
.page-report .report-filter .filter-info ul li b {
  width: 130px;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
}
.page-report .report-filter .filter-info ul li span {
  flex: 1;
  margin-left: auto;
  text-align: right;
  color: #3498db;
}
.page-report .data-layer-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.15);
}
.page-report .card {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px;
  width: 100%;
}
.page-report .card-header {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  background: #fafafa;
  padding: 0 20px;
}
.page-report .card-header .title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  flex: 1;
  display: inline-flex;
  align-items: center;
}
.page-report .card-header .title i {
  font-size: 20px;
  margin-right: 5px;
}
.page-report .card-header .tool {
  margin-left: auto;
}
.page-report .card-body {
  position: relative;
}
.page-report .pivot-table {
  background: #ffffff;
  box-shadow: rgba(221, 221, 221, 0.7) 0px 0px 8px 1px;
  border-radius: 5px;
  overflow: hidden;
  flex: 1;
  margin-top: 20px;
}
.page-report .pivot-table .table-header {
  display: flex;
  align-items: center;
  height: 40px;
  background: #fafafa;
  padding: 0 20px;
}
.page-report .pivot-table .table-header .title {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  flex: 1;
  display: inline-flex;
  align-items: center;
}
.page-report .pivot-table .table-header .title i {
  font-size: 20px;
  margin-right: 5px;
}
.page-report .pivot-table .table-header .tool {
  margin-left: auto;
}
.page-report .pivot-table .table-header .tool a {
  border: solid 1px #ababab;
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 12px;
  color: #666;
}
.page-report .pivot-table .table-header .tool a:hover {
  border-color: #2D8CF1;
  color: #2D8CF1;
}
.page-report .pivot-table .table-header .tool a i {
  margin-right: 5px;
  font-size: 13px;
}
.page-report .pivot-table .table-header .tool span {
  margin: 0 5px;
}
.page-report .pivot-table .table-wrap {
  overflow: auto !important;
  height: calc(100% - 80px);
  position: relative;
}
.page-report .pivot-table .table-footer {
  border-top: solid 1px #dedede;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 40px;
}
.page-report .pivot-table table {
  collapse: collapsed;
  margin: 0;
  overflow: hidden;
  background: #ffffff;
  min-width: 100%;
}
.page-report .pivot-table table thead th {
  position: -webkit-sticky;
  position: sticky;
  background: #7f8fa6;
  color: white;
  padding: 10px 12px;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}
.page-report .pivot-table table thead th.center {
  text-align: center;
}
.page-report .pivot-table table tbody tr:hover td {
  background: #e4ecf2;
  cursor: pointer;
}
.page-report .pivot-table table tbody tr:nth-child(odd) {
  background: #f5f8fa;
}
.page-report .pivot-table table tbody tr td {
  padding: 9px 12px;
  text-align: left;
  font-size: 13px;
  color: #334455;
  vertical-align: middle;
}
.page-report .pivot-table table tbody tr td .middle-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page-report .pivot-table table tbody tr td img {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 5px;
  border: solid 1px #69808D;
}
.page-report .pivot-table table tbody tr td.center {
  text-align: center;
}
.page-report .pivot-table table tbody tr td .ivu-tooltip-content {
  text-align: left;
  position: relative !important;
}
.page-report .pivot-table table tbody tr td .ivu-tooltip-content .ivu-tooltip-inner {
  min-height: 26px !important;
  padding: 3px 5px !important;
}
.page-report .pivot-table table tbody tr td .ivu-poptip-body {
  position: relative;
  border: solid 1px red;
}
.page-report .pivot-table table tbody tr td .ivu-poptip-body .ivu-icon {
  left: 10px;
  top: 10px;
}
.page-report .pivot-table table tbody tr td a {
  border: solid 1px #cccccc;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  color: #334455;
  transition: all 0.2s;
}
.page-report .pivot-table table tbody tr td a:hover {
  color: #5D4DE8;
  border-color: #5D4DE8;
}

.dashboard .board {
  background: #ffffff;
  box-shadow: rgba(221, 221, 221, 0.7) 0 0 3px 1px;
  border-radius: 4px;
  min-height: 250px;
  margin: 0 0 20px 20px;
  overflow: hidden;
}
.dashboard .board h3 {
  padding: 15px 25px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  position: relative;
  color: #dc3545;
}
.dashboard .board h3:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background: #dc3545;
  left: 0;
  top: 23px;
}
.dashboard .board-content {
  padding: 10px 30px;
}
.dashboard .map-wrapper {
  width: calc(100% - 40px);
  height: 530px;
  margin: 0 18px 20px;
  padding: 30px 30px 50px;
}
.dashboard .map-wrapper h3 {
  margin-top: -30px;
  margin-left: -30px;
}
.dashboard .map-wrapper #map {
  height: 100%;
  width: 100%;
}
.dashboard .map-wrapper #map .title {
  font-weight: 500;
  text-transform: uppercase;
  color: #dc3545;
}
.dashboard .map-wrapper #map .popup {
  font-size: 12px;
  border: solid 1px #dedede;
}
.dashboard g text {
  font-weight: 500;
  padding: 0 5px !important;
}
.dashboard .statistic .purple {
  background: #B53471;
}
.dashboard .statistic .cyan {
  background: #1289A7;
}
.dashboard .statistic .gold {
  background: #F79F1F;
}
.dashboard .statistic .parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 10px;
  height: 115px;
  border-radius: 4px;
  box-shadow: rgba(221, 221, 221, 0.7) 0 0 3px 1px;
}
.dashboard .statistic .parent h1 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.dashboard .statistic .parent small {
  font-size: 14px;
  text-align: center;
}
.dashboard .statistic .parent-children {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: -5px;
}
.dashboard .statistic .parent-children span {
  flex-grow: 1;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: rgba(221, 221, 221, 0.7) 0 0 3px 1px;
  text-align: center;
}
.dashboard .statistic .parent-children span:first-child {
  margin-left: 0;
}
.dashboard .statistic .parent-children span:last-child {
  margin-right: 0;
}
.dashboard .statistic .parent-children span h1 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.dashboard .statistic .parent-children span small {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  opacity: 0.9;
}
.dashboard .statistic .next {
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.dashboard .statistic .next span {
  color: #B53471;
  font-weight: 500;
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.dashboard .statistic .next .arrow-container {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 35px;
  transform: translate(-50%, -50%) rotateZ(0deg);
}
.dashboard .statistic .next .arrow-container:hover {
  cursor: pointer;
}
.dashboard .statistic .next .arrow-container:hover .arrow {
  top: 50%;
}
.dashboard .statistic .next .arrow-container:hover .arrow:before {
  transform: translate(-50%, -50%) rotateZ(-30deg);
}
.dashboard .statistic .next .arrow-container:hover .arrow:after {
  transform: translate(-50%, -50%) rotateZ(30deg);
}
.dashboard .statistic .next .arrow {
  position: absolute;
  left: 50%;
  transition: all 0.4s ease;
}
.dashboard .statistic .next .arrow:before, .dashboard .statistic .next .arrow:after {
  transition: all 0.4s ease;
  content: "";
  display: block;
  position: absolute;
  transform-origin: bottom right;
  background: #B53471;
  width: 2px;
  height: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
.dashboard .statistic .next .arrow:after {
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.dashboard .statistic .next .arrow:nth-child(1) {
  opacity: 0.3;
  top: 35%;
}
.dashboard .statistic .next .arrow:nth-child(2) {
  opacity: 0.6;
  top: 55%;
}
.dashboard .statistic .next .arrow:nth-child(3) {
  opacity: 0.9;
  top: 75%;
}

.listings-list .list-thumb {
  background-size: cover !important;
  background-repeat: no-repeat;
}

.barilga-detail .el-carousel__item .img-item {
  color: #475669;
  opacity: 0.75;
  height: 300px;
  margin: 0;
}
.barilga-detail .el-carousel__item .img-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.barilga-detail .el-carousel__item .img-item h3 {
  position: absolute;
  z-index: 100;
  bottom: 0;
  left: 10px;
  color: #ffffff;
  background-color: rgba(34, 34, 34, 0.6);
  padding: 10px;
  border-radius: 5px;
  max-height: 70px;
  overflow-y: auto;
  font-size: 18px;
  right: 10px;
}
